.Quiet-Cry-1-hex { color: #EEEFF7; }
.Quiet-Cry-2-hex { color: #92CDCF; }
.Quiet-Cry-3-hex { color: #445878; }
.Quiet-Cry-4-hex { color: #31353D; }
.Quiet-Cry-5-hex { color: #1C1D21; }

html{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-color: #EEEFF7;
    height: 100%;
    padding: 0;
    margin: 0;
}
.page{
    height: 100vh;
    width: 100vw;
}
#left{
    background-color: #31353D;
    box-sizing: border-box;
    position: static;
    height: 100%;
    width: 40%;
    left: 0%;
    top: 0%;
}
#left img{
    transform: translate(-50%, -50%);
    position: relative; 
    height: 50%;
    left: 50%;
    top: 45%;
}
#left label{
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    display:inline-block;
    text-align: justify;
    position: relative; 
    color: #EEEFF7;
    text-shadow: 1px 1px 1px #1C1D21;
    font-size: 22px;
    height: 30%;
    width: 80%;
    top: 38%;
    left: 50%;
}
#top{
    background-color: #1C1D21;
    box-sizing: border-box;
    position:fixed;
    top: 0%;
    left: 0%;
    height: 12%;
    width: 100%;
    white-space: normal;
}
#top div{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
#top label{
    font-family: sans-serif;
    font-size: 20px;
    position: static;
    color: #EEEFF7;
    top: 45%;
    left: 50%;
    margin: 10px;
}